services:
  db:
    image: postgres:14-alpine 
    container_name: postgres_db
    
    ports:
      - "5432:5432"
      
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASS}
      
    restart: unless-stopped
    
    volumes:
      - db-data:/var/lib/postgresql/data

volumes:
  db-data:
    driver: local